.lyrics {
  padding-top: 20px;
  @media screen and (min-width: 480px) {
    padding-top: 30px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 50px;
  }
  // Убрать высоту после обновы нормальной
  height: 90vh;
}
.lyrics__list {
  @include flex(40px);
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }
  @media screen and (min-width: 1200px) {
    gap: 80px;
  }
}
.lyrics__item {
  padding: 5px;
  background-color: $bg-ligth-gray;
  border: 1px solid $main-color;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.lyrics__text {
  font-size: 14px;
  @media screen and (min-width: 480px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}
