.hero {
  position: relative;
  background-image: url("../images/back.jpg");
}
.love__list {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart__svg {
  cursor: pointer;
  width: 260px;
  height: 260px;
  @media screen and (min-width: 468px) {
    width: 350px;
    height: 350px;
  }
}
.love__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 19px;
  color: $main-color;
  font-size: 400;
  @media screen and (min-width: 480px) {
    font-size: 24px;
  }
}
