.love__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart__svg {
  width: 260px;
  height: 260px;
  cursor: url("../images/cursor/pointer.png"), pointer;
  @media screen and (min-width: 480px) {
    width: 350px;
    height: 350px;
  }
}
.love__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 19px;
  color: $main-color;
  @media screen and (min-width: 480px) {
    font-size: 24px;
  }
}
